body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  font-size: 30px;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
}

#output {
  font-size: 38px;
  line-height: 1.4;
  margin-top: 30px;
  white-space: pre-wrap;
}

select {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  border-radius: 10px;
}