adminUser: admin
adminPassword: admin

service:
  type: NodePort

persistence:
  enabled: true
  size: 2Gi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: prometheus
        uuid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true

      - name: loki
        uuid: loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    folder: /var/lib/grafana/dashboards
    provider:
      disableDelete: false
      foldersFromFilesStructure: true  
    searchNamespace: "monitoring"