apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-api
spec:
  replicas: {{ .Values.api.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-api
  template:
    metadata:
      annotations:
        rollme: "{{ .Values.image.tag}}"
      labels:
        app: {{ .Release.Name }}-api
    spec:
      containers:
      - name: {{ .Release.Name }}-api
        image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.api.port }}
        env:
        - name: DEEPSEEK_API_KEY
          valueFrom:
            secretKeyRef:
              name: deepseek-secret
              key: DEEPSEEK_API_KEY
        - name: FEEDBACK_SERVICE_URL
          value: "http://{{ .Release.Name }}-feedback-service:{{ .Values.feedback.port }}"
