apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: riddlebuddy-ingress
  namespace: riddlebuddy
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-api-service
                port:
                  number: {{ .Values.api.port }}
