mode: daemonset
image:
  repository: otel/opentelemetry-collector-contrib
serviceAccount:
  create: true
  name: otel-collector
config:
  receivers:
    prometheus:
      config:
        scrape_configs:
          - job_name: "riddlebuddy"
            kubernetes_sd_configs:
              - role: pod
            relabel_configs:
              - source_labels: [__meta_kubernetes_namespace]
                action: keep
                regex: riddlebuddy
              - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
                action: keep
                regex: "true"
              - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
                action: replace
                target_label: __metrics_path__
                regex: (.+)
              - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
                action: replace
                target_label: __address__
                regex: ([^:]+)(?::\d+)?;(\d+)
                replacement: $1:$2

  exporters:
    prometheusremotewrite:
      endpoint: https://aps-workspaces.${AWS_REGION}.amazonaws.com/workspaces/${AMP_WORKSPACE_ID}/api/v1/remote_write
      auth:
        authenticator: sigv4auth

  extensions:
    health_check:
      endpoint: 0.0.0.0:13133
    sigv4auth:
      region: ${AWS_REGION}
      service: aps

  service:
    extensions: [sigv4auth, health_check]
    pipelines:
      metrics:
        receivers: [prometheus]
        exporters: [prometheusremotewrite]