api:
  image:
    repository: tuna610/riddlebuddy
    tag: fa7156869bfd3418d4521459659532714d2b02f6
  replicas: 1
  port: 8000
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  probes:
    liveness:
      path: /health
      initialDelaySeconds: 10
      periodSeconds: 10
      failureThreshold: 3
    readiness:
      path: /health
      initialDelaySeconds: 5
      periodSeconds: 5
      failureThreshold: 3
feedback:
  image:
    repository: tuna610/riddlebuddy-feedback
    tag: latest
  replicas: 1
  port: 8080
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  probes:
    liveness:
      path: /actuator/health/liveness
      initialDelaySeconds: 30 # spring boot is slow
      periodSeconds: 10
      failureThreshold: 3
    readiness:
      path: /actuator/health/readiness
      initialDelaySeconds: 20
      periodSeconds: 5
      failureThreshold: 3
redis:
  image:
    repository: redis
    tag: "7"
  replicas: 1
  port: 6379
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "200m"
hpa:
  minReplicas: 1
  maxReplicas: 3
  targetCPU: 70
