apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: riddlebuddy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:latest
        imagePullPolicy: IfNotPresent 
        ports:
        - containerPort: 6379